# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

/Web/node_modules

# testing
/coverage

# production
/build
/Server/node_modules

# misc
.DS_Store
.env.local
/src/Server/.env
/src/Server/node_modules
.env

npm-debug.log*
yarn-debug.log*
yarn-error.log*
